@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

.comment {
    border: solid 2px;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 1em;
    padding: 0 1em 1em 1em;
    list-style: none;
}

.rating {
    float: left;
    display: inline;
    padding-top: .25em;
    padding-right: .5em;
}

.commentTitle {
    display: inline;
    clear: both;
}

.name {

}

.glyphicon-thumbs-up:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.glyphicon-thumbs-down:hover {
    background-color: red;
    cursor: pointer;
}

.remove {
    float: right;
    margin-top: .5em;
}

.remove:hover {
    background-color: red;
    cursor: pointer;
}